# Ignore everything by default
*

# Whitelist (Files to Keep)
!main.py
!sequencial.py
!parallel.py
!plot_benchmark.py
!benchmark_results_Full_Res.csv
!benchmark_results_Small_Res.csv
!README.md
!.gitignore

# Whitelist (Directories)
!sample_images_Full_Res/
!sample_images_Small_Res/

# Whitelist (Patterns)
!*.png
